<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    
    <h1>Search Results</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for i in labels[0] %}
          <tr>
            <td></td>
            <td>
              <img src="static/image/{{ list[i] }}" alt="Image" width="120"></div>
            </td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
