.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* chia cột thành 3 phần bằng nhau */
    grid-gap: 20px; /* khoảng cách giữa các phần tử */
  }
  .grid-item {
    width: 20%;
    height: 0;
    padding-bottom: 100%; /* tạo hình vuông bao quanh ảnh */
    position: relative;
  }
  .grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    object-fit: cover; /* hiển thị ảnh đầy đủ trong khung hình */
  }
  